<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WebServer Test</title>
    <style>
		body {
            background-color: rgba(0, 80, 0, 0.3); /* 밝은 회색 + 약간 투명 */
        }
        .highlight {
            color: #d14;         /* 강조 색상 */
            font-weight: bold;   /* 굵은 글씨 */
            font-size: 1.5em;    /* 글자 크기 */
        }
    </style>
</head>
<body>
    <h1>웹 서버가 정상적으로 동작합니다!</h1>
    <p><span class="highlight">인스턴스</span>에서 웹 서버 테스트 페이지입니다.</p>	
    <a href="image01.png" target="_blank">
        <img src="image01.png" alt="image01" width="300">
    </a>
</body>
</html>
